/**
 * Base / Global styles
 */

@import 'vars'

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif

a
	color: $primary

li, p
	margin-bottom: $base-spacing/2
